//Copyright 2017, Avery Vine, All rights reserved.

html
  head
    title 404 - Avery Vine
    link(rel = "stylesheet", href = "/w3.css")

  body(class = "w3-brown")
    div(class = "w3-container")
      //-404 error panel
      div(class = "w3-card-8 w3-panel w3-orange")
        h1#title 404 - Page Not Found
        div(class = "w3-margin-bottom")
          p
          | It seems like this page doesn't exist!
          | Here's a link to #[a(href = "/") the home page] to get you back on track.
