//Copyright 2017, Avery Vine, All rights reserved.

html
  head
    //-set up device width
    meta(name = "viewport", content = "width=device-width, initial-scale=1")
    title Avery Vine
    //-import w3.css for design
    link(rel = "stylesheet", href = "/w3.css")
    //-import styles.css for parallax
    link(rel = "stylesheet", href = "/styles.css")
    //-import cloudflare for icons
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    //-import jQuery for javascript
    script(src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    //-import javascript file
    script(src = "scripts.js")

  body(class = "parallax")
    //-horizontal nav bar (always at the top of the page)
    div#navBar(class = "w3-top")
      ul(class = "w3-navbar w3-card-8 w3-black")
        //-button for dropdown menu, only visible on small and medium screens
        li(class = "w3-hide-large w3-black w3-opennav w3-left")
          a(href = "javascript:void(0);", onclick = "collapseNavBar('dropdownNavBar')") ☰
        //-all links below this point are only visible on large screens
        li
          a(class = "w3-hover-teal w3-hide-small w3-hide-medium", href = "#") Home
        li
          a(class = "w3-hover-teal w3-hide-small w3-hide-medium", href = "#quickInfo") Quick Info
        li
          a(class = "w3-hover-teal w3-hide-small w3-hide-medium", href = "#education") Education
        li
          a(class = "w3-hover-teal w3-hide-small w3-hide-medium", href = "#skills") Skills
        li
          a(class = "w3-hover-teal w3-hide-small w3-hide-medium", href = "#workExperience") Work Experience
        li
          a(class = "w3-hover-teal w3-hide-small w3-hide-medium", href = "#appliedProjects") Applied Projects
        li
          a(class = "w3-hover-teal w3-hide-small w3-hide-medium", href = "#extraCurriculars") Extra-Curriculars
        //-website name on the right side of the nav bar
        li(class = "w3-right")
          a(class = "w3-navitem w3-hover-none w3-hover-text-white") Avery Vine

      //-dropdown menu, only visible on small and medium screens
      div#dropdownNavBar(class = "w3-hide w3-hide-large")
        ul(class = "w3-navbar w3-left-align w3-black")
          li
            a(class = "w3-hover-teal", href = "#") Home
          li
            a(class = "w3-hover-teal", href = "#quickInfo") Quick Info
          li
            a(class = "w3-hover-teal", href = "#education") Education
          li
            a(class = "w3-hover-teal", href = "#skills") Skills
          li
            a(class = "w3-hover-teal", href = "#workExperience") Work Experience
          li
            a(class = "w3-hover-teal", href = "#appliedProjects") Applied Projects
          li
            a(class = "w3-hover-teal", href = "#extraCurriculars") Extra-Curriculars
          li
            a(class = "w3-hover-teal", href = "#contact") Contact

    //-spacing (due to nav bar being persistently on top)
    div(class = "w3-panel")
    div(class = "w3-panel")

    div#mainContent(class = "w3-container w3-content")
      div#home(class = "w3-card-8 w3-light-gray")
        div(class = "w3-panel w3-teal w3-center")
          h2 Avery Vine
        div(class = "w3-container")
          div(class = "w3-row-padding")
            div(class ="w3-third")
              img(src = "assets/avine.jpg", class = "w3-circle", alt = "Avery Vine", style = "width: 100%")
            div(class = "w3-twothird")
              p(class = "w3-margin-left")
                | I am a focused, goal-driven individual who can stay highly organized and work efficiently, whether it be independently or in a team environment.
                | I have experience in several areas with my main interests being programming and music.
                | With several personal and university projects completed, I am enthusiastic to tackle new and exciting challenges.
              p(class = "w3-margin-left w3-hide-large")
                | A link to my Github and my LinkedIn pages can be found in the #[a(href = "#contact") Contact] section at the bottom of the page.
              p(class = "w3-margin-left w3-hide-medium w3-hide-small")
                | A link to my Github and my LinkedIn pages can be found on the footer of this page.
        //-spacing (due to image overlapping the bottom of card)
        div#imageSpacer(class = "w3-panel")

      div#quickInfo(class = "w3-card-8 w3-light-gray")
        div(class = "w3-panel w3-teal w3-center")
          h2 Quick Info
        div(class = "w3-container w3-center")
          div(class = "w3-row")
            div(class = "w3-third")
              h3 Current Employment
              p
                b Piano Teacher
                br
                | Lauzon Music
                br
                | 1345 Wellington St W
                br
                | Ottawa, Ontario

            div(class = "w3-third w3-border-left w3-border-right w3-border-dark-gray w3-hide-small")
              h3 Education
              p
                b Bachelor of Computer Science
                br
                | Mobile Computing, Co-op, 2#[sup nd] Year
                br
                | Carleton University
                br
                | CGPA: 10.53 (A-)

            div(class = "w3-third w3-hide-medium w3-hide-large")
              h3 Education
              p
                b Bachelor of Computer Science
                br
                | Mobile Computing, Co-op, 2#[sup nd] Year
                br
                | Carleton University
                br
                | CGPA: 10.53 (A-)

            div(class = "w3-third")
              h3 Upcoming Events
              p
                b CUHacking (Mar 4th - 5th)
                br
                | Carleton University
                b More Coming Soon...

      div#education(class = "w3-card-8 w3-light-gray")
        div(class = "w3-panel w3-teal w3-center")
          h2 Education
        a(href = "assets/recordOfGrades.pdf")
          div(class = "w3-container")
            div(class = "w3-row-padding")
              div(class = "w3-half")
                p
                  b Bachelor of Computer Science
                  br
                  | Mobile Computing, Co-op (September 2015 - Present)
                  br
                  | Carleton University, Ottawa, ON
                  ul
                    li 2#[sup nd] Year Undergraduate
                    li Cumulative GPA 10.53 (A-)
                    li Computer Science GPA 11.42 (A)
                    li Expected Graduation April 2020
                    li Academic Terms Completed: 3
                    li Co-op Work Terms Completed: 0
              div(class = "w3-half w3-center")
                img(src = "assets/carletonLogo.png", alt = "Carleton Univeristy", style = "width: 100%; max-width: 200px")
          div(class = "w3-container w3-center")
            p
              b Tap/click anywhere for grades

      div#skills(class = "w3-card-8 w3-light-gray")
        div(class = "w3-panel w3-teal w3-center")
          div(class = "unselectable w3-col s1")
            h2 #[a(onclick = "changeTab(-1, 'skillTab')", style = "cursor: pointer") &#10094;]
          div(class = "w3-col s10")
            h2#skillsTitle Skills - Technical
          div(class = "unselectable w3-col s1")
            h2 #[a(onclick = "changeTab(1, 'skillTab')", style = "cursor: pointer") &#10095;]
        div#technical(class = "skillTab w3-container")
          p
            b Technical Skills
            br
            ul
              li Implemented a shortest path algorithm to refine C++ skills and a variety of array- and linked list-based programs to refine C skills, overall improving knowledge of low-level programming
              li Created several client/server Node.js applications using technologies such as jQuery, AJAX, and MongoDB, to develop a proficiency in HTML, CSS, and Javascript
              li Constructed various time- and memory-efficient data structures using elements of the Java Collections Framework to extend Java capabilities
              li Designed, developed, and released an iOS application to enrich knowledge of Swift
              li Experience using macOS, Windows, and Linux operating systems across multiple courses and projects

        div#communication(class = "skillTab w3-container", style = "display: none")
          p
            b Communication Skills
            br
            ul
              li Assisted professor in reviewing results from previous testing of each shortest path algorithm; implications that the outcomes had on the status of the project; and next steps to take in order to efficiently progress with the work
              li Documented important functionality in “ReadMe” files on every project to facilitate code comprehension
              li Collaborated with co-workers to ensure that all restaurant tasks were accomplished before the end of each shift

        div#problemSolving(class = "skillTab w3-container", style = "display: none")
          p
            b Problem Solving Skills
            br
            ul
              li Implemented various command line and graphical solutions to understand the more common shortest path algorithms in depth
              li Conducted increasingly specific tests to discover and remove sources of error in several implementations of shortest path algorithms
              li Prioritized tasks that needed to be accomplished during time working at Subway restaurant, such as cleaning, baking, and serving customers

      div#workExperience(class = "w3-card-8 w3-light-gray")
        div(class = "w3-panel w3-teal w3-center")
          div(class = "unselectable w3-col s1")
            h2 #[a(onclick = "changeTab(-1, 'workExperienceTab')", style = "cursor: pointer") &#10094;]
          div(class = "w3-col s10")
            h2#workExperienceTitle Work - Piano Teacher
          div(class = "unselectable w3-col s1")
            h2 #[a(onclick = "changeTab(1, 'workExperienceTab')", style = "cursor: pointer") &#10095;]

        div#pianoTeacher(class = "workExperienceTab w3-container")
          p
            b Piano Teacher
            br
            | Lauzon Music, Ottawa, ON (June 2016 - Present)
          ul
            li Impart musical ideas to students through oral and written communication, which they can then express through the music
            li Guide children through the process of choosing and sticking to a goal by making lessons enjoyable and productive

        div#undergradResearch(class = "workExperienceTab w3-container", style = "display: none")
          p
            b Undergraduate Research Assistant
            br
            | Carleton University, Ottawa, ON (May 2016 - September 2016)
          ul
            li Researched several existing algorithms to optimally find the shortest path to a moving target, with the purpose of discovering more efficient algorithms
            li Familiarized myself with the research and development process by working closely with the professor in order to improve my efficiency during future work

        div#sandwichArtist(class = "workExperienceTab w3-container", style = "display: none")
          p
            b Sandwich Artist
            br
            | Subway, Ottawa, ON (May 2015 - May 2016)
          ul
            li Contributed to a positive restaurant environment by fully committing to work each day, ultimately increasing customer and employee satisfaction
            li Dedicated time to inspecting the restaurant during each shift to ensure cleanliness

      div#appliedProjects(class = "w3-card-8 w3-light-gray")
        div(class = "w3-panel w3-teal w3-center")
          div(class = "unselectable w3-col s1")
            h2 #[a(onclick = "changeTab(-1, 'appliedProjectsTab')", style = "cursor: pointer") &#10094;]
          div(class = "w3-col s10")
            h2#appliedProjectsTitle Projects - Two Buttons
          div(class = "unselectable w3-col s1")
            h2 #[a(onclick = "changeTab(1, 'appliedProjectsTab')", style = "cursor: pointer") &#10095;]

        div#twoButtons(class = "appliedProjectsTab w3-container")
          p
            b App Developer
            br
            | Two Buttons - The Reflex Tapping Game (February 2016 - September 2016)
          ul
            li Applied knowledge of Swift and Model-View Controller learned during mobile applications course to ensure that each screen flows into the next
            li Overcame challenges such as not knowing how to persistently store data, through independent research and testing
            li Released the application on the iOS App Store, after delays due to developer age restrictions
          div(class = "w3-container w3-center")
            p
              b #[a(href = "/projects/view/twoButtons") Click to View] - #[a(href = "/projects/github/twoButtons") Github Link]

        div#averyvine(class = "appliedProjectsTab w3-container", style = "display: none")
          p
            b Web Developer
            br
            | Personal Website (January 2017)
          ul
            li Applied knowledge of HTML, CSS, Javascript, Node.js, Express, and Pug to develop a functional web application
            li Independently researched and learned to use w3.css to efficiently design and implement the website format, which looks good on all screen sizes
            li Familiarized myself with Git commands to facilitate the hosting process
          div(class = "w3-container w3-center")
            p
              b #[a(href = "/projects/view/averyvine") Click to View] - #[a(href = "/projects/github/averyvine") Github Link]

        div#notepadd(class = "appliedProjectsTab w3-container", style = "display: none")
          p
            b Web Developer
            br
            | Notepadd (February 2017)
          ul
            li Efficiently collaborated with three team members using Github to develop the website over the course of 36 hours
            li Brainstormed various implementations of music playback in order to produce the best synthesized sound
            li Created an in-depth presentation to advertise the final product to a series of judges at the hackathon QHacks 2017
          div(class = "w3-container w3-center")
            p
              b #[a(href = "/projects/view/notepadd") Click to View] - #[a(href = "/projects/github/notepadd") Github Link]

      div#extraCurriculars(class = "w3-card-8 w3-light-gray")
        div(class = "w3-panel w3-teal w3-center")
          h2 Extra-Curricular Experience
        div(class = "w3-container")
          p
            b Extra-Curricular Experience
            br
            ul
              li Participated in the Carleton Code Guru Competition (April 2016)
              li Member of the Carleton Computer Science Society (Since September 2015)
              li Participated in the ECOO Programming Competition finals in Toronto (May 2015)

    //-spacing (due to footer being persistently on bottom)
    div(class = "w3-panel")
    div(class = "w3-panel")
    div(class = "w3-panel")
    div(class = "w3-panel")
    div(class = "w3-panel")
    div(class = "w3-panel")
    div(class = "w3-panel")
    div(class = "w3-panel")

    //-contact panel (non-persistent, only visible on small and medium screens)
    div#contact(class = "w3-hide-large w3-container w3-blue-grey")
      h3
        | Contact &nbsp
        span
          a(href = "https://ca.linkedin.com/in/averyvine", target = "_blank")
            i(class = "fa fa-linkedin-square")
        | &nbsp
        span
          a(href = "https://github.com/AveryVine", target = "_blank")
            i(class = "fa fa-github")
      p
        a(href = "mailto:averyvine@cmail.carleton.ca") averyvine@cmail.carleton.ca
        |  | (613) 867-2355

    //-contact panel (persistently on bottom, only visible on large screens)
    div#contact(class = "w3-bottom w3-hide-medium w3-hide-small w3-container w3-blue-grey")
      div(class = "w3-half")
        div(class = "w3-container w3-left")
        h3
          | Contact &nbsp
          span
            a(href = "https://ca.linkedin.com/in/averyvine", target = "_blank")
              i(class = "fa fa-linkedin-square")
          | &nbsp
          span
            a(href = "https://github.com/AveryVine", target = "_blank")
              i(class = "fa fa-github")
      div(class = "w3-half")
        div(class = "w3-container w3-right")
          p
            a(href = "mailto:averyvine@cmail.carleton.ca") averyvine@cmail.carleton.ca
            |  | (613) 867-2355
