//Copyright 2017, Avery Vine, All rights reserved.

html
  head
    //-set up device width
    meta(name = "viewport", content = "width=device-width, initial-scale=1")
    title Avery Vine
    //-import w3.css for design
    link(rel = "stylesheet", href = "/w3.css")
    //-import styles.css for parallax
    link(rel = "stylesheet", href = "/styles.css")
    //-import cloudflare for icons
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    //-import fonts
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lora|Work+Sans")
    //-add favicon to site
    link(rel = "icon", type = "image/png", href = "/assets/favicon.png")
    //-import jQuery for javascript
    script(src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    //-import javascript file
    script(src = "scripts.js")
    //-import konami file
    script(src = "konami.js")

  body(class = "parallax")
    //-horizontal nav bar (always at the top of the page)
    div#navBar(class = "w3-top")
      ul(class = "w3-navbar w3-card-8 w3-black")
        //-button for dropdown menu, only visible on small and medium screens
        li(class = "w3-hide-large w3-black w3-opennav w3-left")
          a(href = "javascript:void(0);", onclick = "collapseNavBar('dropdownNavBar')") ☰
        //-all links below this point are only visible on large screens
        li
          a(class = "w3-hover-teal w3-hide-small w3-hide-medium", href = "#") Home
        li
          a(class = "w3-hover-teal w3-hide-small w3-hide-medium", href = "#quickInfo") Quick Info
        li
          a(class = "w3-hover-teal w3-hide-small w3-hide-medium", href = "#education") Education
        li
          a(class = "w3-hover-teal w3-hide-small w3-hide-medium", href = "#professionalSkills") Professional Skills
        li
          a(class = "w3-hover-teal w3-hide-small w3-hide-medium", href = "#workExperience") Work Experience
        li
          a(class = "w3-hover-teal w3-hide-small w3-hide-medium", href = "#appliedProjects") Applied Projects
        li
          a(class = "w3-hover-teal w3-hide-small w3-hide-medium", href = "#extraCurriculars") Extra-Curriculars
        //-website name on the right side of the nav bar
        li(class = "w3-right")
          a(class = "w3-navitem w3-hover-none w3-hover-text-white") Avery Vine

      //-dropdown menu, only visible on small and medium screens
      div#dropdownNavBar(class = "w3-hide w3-hide-large")
        ul(class = "w3-navbar w3-left-align w3-black")
          li
            a(class = "w3-hover-teal", href = "#") Home
          li
            a(class = "w3-hover-teal", href = "#quickInfo") Quick Info
          li
            a(class = "w3-hover-teal", href = "#education") Education
          li
            a(class = "w3-hover-teal", href = "#professionalSkills") Professional Skills
          li
            a(class = "w3-hover-teal", href = "#workExperience") Work Experience
          li
            a(class = "w3-hover-teal", href = "#appliedProjects") Applied Projects
          li
            a(class = "w3-hover-teal", href = "#extraCurriculars") Extra-Curriculars
          li
            a(class = "w3-hover-teal", href = "#contact") Contact

    //-spacing (due to nav bar being persistently on top)
    div(class = "w3-panel")
    div(class = "w3-panel")

    div#mainContent(class = "w3-container w3-content")
      div#home(class = "w3-card-8 w3-light-gray")
        div(class = "w3-panel w3-teal w3-center w3-border-bottom w3-border-black")
          h2 Avery Vine
        div(class = "w3-container")
          div(class = "w3-row-padding")
            div(class ="w3-third")
              img(src = "assets/avine.jpg", class = "w3-circle", alt = "Avery Vine", style = "width: 100%")
            div(class = "w3-twothird")
              p(class = "w3-margin-left")
                | I am a focused, goal-driven individual who can stay highly organized and work efficiently, whether it be independently or in a team environment.
                | I have experience in several areas of programming, and I enjoy playing the piano in my spare time.
                | With several personal and university projects completed, I am enthusiastic to tackle new and exciting challenges.
              p(class = "w3-margin-left w3-hide-large")
                | A link to my Github and my LinkedIn pages can be found in the #[a(href = "#contact") Contact] section at the bottom of the page.
              p(class = "w3-margin-left w3-hide-medium w3-hide-small")
                | A link to my Github and my LinkedIn pages can be found on the footer of this page.
        //-spacing (due to image overlapping the bottom of card)
        div#imageSpacer(class = "w3-panel")

      div#quickInfo(class = "w3-card-8 w3-light-gray")
        div(class = "w3-panel w3-teal w3-center w3-border-bottom w3-border-black")
          h2 Quick Info
        div(class = "w3-container w3-center")
          div(class = "w3-row")
            div(class = "w3-third")
              h3 Current Employment
              p
                b Piano Teacher
                br
                | Lauzon Music
                br
                | 1345 Wellington St W
                br
                | Ottawa, Ontario

            div(class = "w3-third w3-border-left w3-border-right w3-border-black w3-hide-small")
              h3 Education
              p
                b Bachelor of Computer Science
                br
                | Mobile Computing, Co-op, 2#[sup nd] Year
                br
                | Carleton University
                br
                | CGPA: 10.53 (A-)

            div(class = "w3-third w3-hide-medium w3-hide-large w3-border-top w3-border-bottom w3-border-black")
              h3 Education
              p
                b Bachelor of Computer Science
                br
                | Mobile Computing, Co-op, 2#[sup nd] Year
                br
                | Carleton University
                br
                | CGPA: 10.53 (A-)

            div(class = "w3-third")
              h3 Upcoming Events
              p
                b Final Exams (April 10th - 23rd)
                br
                | Carleton University
                br
                b More Coming Soon...

      div#education(class = "w3-card-8 w3-light-gray")
        div(class = "w3-panel w3-teal w3-center w3-border-bottom w3-border-black")
          h2 Education
        a(href = "assets/recordOfGrades.pdf")
          div(class = "w3-container")
            div(class = "w3-row-padding")
              div(class = "w3-half")
                p
                  b Bachelor of Computer Science
                  br
                  | Mobile Computing, Co-op (September 2015 - Present)
                  br
                  | Carleton University, Ottawa, ON
                  ul
                    li 2#[sup nd] Year Undergraduate
                    li Cumulative GPA 10.53 (A-)
                    li Computer Science GPA 11.42 (A)
                    li Expected Graduation April 2020
                    li Academic Terms Completed: 3
                    li Co-op Work Terms Completed: 0
              div(class = "w3-half w3-center")
                img(src = "assets/carletonLogo.png", alt = "Carleton Univeristy", style = "width: 100%; max-width: 200px")
          div(class = "w3-container w3-center")
            p
              b Tap/click anywhere for grades

      div#professionalSkills
        div(class = "w3-card-8 w3-light-gray")
          div(class = "w3-teal")
            div(class = "w3-center w3-container w3-margin-top w3-border-bottom w3-border-black")
              h2 Professional Skills
            ul(class = "w3-navbar w3-light-gray w3-hide-small")
              li#technicalButton(class = "w3-hover-teal w3-container professionalSkillsTabButton w3-border-bottom w3-border-right w3-border-black w3-teal" onclick = "openTab('professionalSkillsTab', 'technical')") Technical
              li#communicationButton(class = "w3-hover-teal w3-container professionalSkillsTabButton w3-border-bottom w3-border-right w3-border-black w3-blue-gray" onclick = "openTab('professionalSkillsTab', 'communication')") Communication
              li#problemSolvingButton(class = "w3-hover-teal w3-container professionalSkillsTabButton w3-border-bottom w3-border-right w3-border-black w3-blue-gray" onclick = "openTab('professionalSkillsTab', 'problemSolving')") Problem Solving
            ul(class = "w3-navbar w3-light-gray w3-hide-medium w3-hide-large")
              li(class = "w3-hover-teal w3-container w3-border-bottom w3-border-black w3-blue-gray" onclick = "openTab('professionalSkillsTab', 'technical')") Technical
              li(class = "w3-hover-teal w3-container w3-border-bottom w3-border-black w3-blue-gray" onclick = "openTab('professionalSkillsTab', 'communication')") Communication
              li(class = "w3-hover-teal w3-container w3-border-bottom w3-border-black w3-blue-gray" onclick = "openTab('professionalSkillsTab', 'problemSolving')") Problem Solving
          div(class = "w3-container")
            div#technical(class = "professionalSkillsTab")
              p
                b Technical Skills
                br
                ul
                  li Created several client-server web application using technologies such as Node.js, jQuery, AJAX, and MongoDB, in order to acquire a deeper understanding of HTML, CSS, and Javascript
                  li Designed, developed, and released a Swift-based iOS application on the App Store to enrich mobile development capabilities
                  li Using C++ and C respectively, implemented a shortest path algorithm and a variety of array- and linked list-based programs, overall improving knowledge of low-level programming
                  li Constructed various Java-based programs involving time- and memory-efficient data structures, using elements of the Java Collections Framework
                  li Experience using macOS, Windows, and Linux operating systems over multiple courses and projects
            div#communication(class = "professionalSkillsTab", style = "display: none")
              p
                b Communication Skills
                br
                ul
                  li Discussed with professor the results from previous testing of each phase of our shortest path algorithm, and the technical challenges we expected to face with each new iteration
                  li Documented important functionality in “ReadMe” files on every project to facilitate code comprehension
                  li Collaborated with co-workers at Subway to ensure that all restaurant tasks were accomplished before the end of each shift
            div#problemSolving(class = "professionalSkillsTab", style = "display: none")
              p
                b Problem Solving Skills
                br
                ul
                  li Implemented various command line and graphical solutions to understand the more common shortest path algorithms in depth
                  li Conducted increasingly specific tests to discover and remove sources of error in several implementations of shortest path algorithms
                  li Prioritized tasks that needed to be accomplished during time working at Subway restaurant, such as cleaning, baking, and serving customers

      div#workExperience
        div(class = "w3-card-8 w3-light-gray")
          div(class = "w3-teal")
            div(class = "w3-center w3-container w3-margin-top w3-border-bottom w3-border-black")
              h2 Work Experience
            ul(class = "w3-navbar w3-light-gray w3-hide-small")
              li#undergradResearchButton(class = "w3-hover-teal w3-container workExperienceTabButton w3-border-bottom w3-border-right w3-border-black w3-teal" onclick = "openTab('workExperienceTab', 'undergradResearch')") Undergraduate Research Assistant
              li#pianoTeacherButton(class = "w3-hover-teal w3-container workExperienceTabButton w3-border-bottom w3-border-right w3-border-black w3-blue-gray" onclick = "openTab('workExperienceTab', 'pianoTeacher')") Piano Teacher
              li#sandwichArtistButton(class = "w3-hover-teal w3-container workExperienceTabButton w3-border-bottom w3-border-right w3-border-black w3-blue-gray" onclick = "openTab('workExperienceTab', 'sandwichArtist')") Sandwich Artist
            ul(class = "w3-navbar w3-light-gray w3-hide-medium w3-hide-large")
              li(class = "w3-hover-teal w3-container w3-border-bottom w3-border-black w3-blue-gray" onclick = "openTab('workExperienceTab', 'undergradResearch')") Undergraduate Research Assistant
              li(class = "w3-hover-teal w3-container w3-border-bottom w3-border-black w3-blue-gray" onclick = "openTab('workExperienceTab', 'pianoTeacher')") Piano Teacher
              li(class = "w3-hover-teal w3-container w3-border-bottom w3-border-black w3-blue-gray" onclick = "openTab('workExperienceTab', 'sandwichArtist')") Sandwich Artist
          div(class = "w3-container")
            div#undergradResearch(class = "workExperienceTab")
              p
                b Undergraduate Research Assistant
                br
                | Carleton University, Ottawa, ON (May 2016 - September 2016)
              ul
                li Researched several existing algorithms to optimally find the shortest path to a moving target, with the purpose of discovering more efficient algorithms
                li Familiarized myself with the research and development process by working closely with the professor in order to improve my efficiency during future work
            div#pianoTeacher(class = "workExperienceTab", style = "display: none")
              p
                b Piano Teacher
                br
                | Lauzon Music, Ottawa, ON (June 2016 - Present)
              ul
                li Using both oral and written methods of communication, I impart musical techniques to students, enabling them to improve their ability to play
                li Encourage children to evaluate and analyze various elements of the music for themselves, in order to grow their musical understanding
                li Teach children skills such as dedication to a task and prioritization, by helping them recognize and achieve short, medium, and long-term goals
            div#sandwichArtist(class = "workExperienceTab", style = "display: none")
              p
                b Sandwich Artist
                br
                | Subway, Ottawa, ON (May 2015 - May 2016)
              ul
                li Prioritized tasks during the work day in order to complete them efficiently and ensure that coworkers in later shifts weren't overwhelmed with leftover work
                li Contributed to a positive restaurant environment by fully committing to work each day, ultimately increasing customer and employee satisfaction
                li Dedicated time to inspecting the restaurant during each shift to ensure cleanliness

      div#appliedProjects
        div(class = "w3-card-8 w3-light-gray")
          div(class = "w3-teal")
            div(class = "w3-center w3-container w3-margin-top w3-border-bottom w3-border-black")
              h2 Applied Projects
            ul(class = "w3-navbar w3-light-gray w3-hide-small")
              li#twoButtonsButton(class = "w3-hover-teal w3-container appliedProjectsTabButton w3-border-bottom w3-border-right w3-border-black w3-teal" onclick = "openTab('appliedProjectsTab', 'twoButtons')") Two Buttons
              li#averyvineButton(class = "w3-hover-teal w3-container appliedProjectsTabButton w3-border-bottom w3-border-right w3-border-black w3-blue-gray" onclick = "openTab('appliedProjectsTab', 'averyvine')") Personal Website
              li#notepaddButton(class = "w3-hover-teal w3-container appliedProjectsTabButton w3-border-bottom w3-border-right w3-border-black w3-blue-gray" onclick = "openTab('appliedProjectsTab', 'notepadd')") Notepadd
            ul(class = "w3-navbar w3-light-gray w3-hide-medium w3-hide-large")
              li(class = "w3-hover-teal w3-container w3-border-bottom w3-border-black w3-blue-gray" onclick = "openTab('appliedProjectsTab', 'twoButtons')") Two Buttons
              li(class = "w3-hover-teal w3-container w3-border-bottom w3-border-black w3-blue-gray" onclick = "openTab('appliedProjectsTab', 'averyvine')") Personal Website
              li(class = "w3-hover-teal w3-container w3-border-bottom w3-border-black w3-blue-gray" onclick = "openTab('appliedProjectsTab', 'notepadd')") Notepadd
          div(class = "w3-container")
            div#twoButtons(class = "appliedProjectsTab")
              p
                b App Developer
                br
                | Two Buttons - The Reflex Tapping Game (February 2016 - September 2016)
              ul
                li Applied knowledge of Swift, the Singleton pattern and the Model-View Controller to create a functional, efficient application
                li Overcame challenges such as not knowing how to persistently store data, through independent research and testing
                li Released the application on the iOS App Store, after delays due to developer age restrictions
              div(class = "w3-container w3-center")
                p
                  b #[a(href = "/projects/view/twoButtons", target = "_blank") View Project] &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp; #[a(href = "/projects/github/twoButtons", target = "_blank") #[i(class = "fa fa-github fa-2x")]]
            div#averyvine(class = "appliedProjectsTab", style = "display: none")
              p
                b Web Developer
                br
                | Personal Website (January 2017)
              ul
                li Applied knowledge of HTML, CSS, Javascript, Node.js, Express, and Pug to develop a functional web application
                li Independently researched and learned to use w3.css to efficiently design and implement the website format, which looks good on all screen sizes
                li Familiarized myself with Git commands to facilitate the hosting process
              div(class = "w3-container w3-center")
                p
                  b #[a(href = "/projects/view/averyvine", target = "_blank") View Project] &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp; #[a(href = "/projects/github/averyvine", target = "_blank") #[i(class = "fa fa-github fa-2x")]]
            div#notepadd(class = "appliedProjectsTab", style = "display: none")
              p
                b Web Developer
                br
                | Notepadd (February 2017)
              ul
                li Efficiently collaborated with three team members using Github to develop the website over the course of 36 hours
                li Brainstormed various implementations of music playback in order to produce the best synthesized sound
                li Created an in-depth presentation to advertise the final product to a series of judges at the hackathon QHacks 2017
              div(class = "w3-container w3-center")
                p
                  b #[a(href = "/projects/view/notepadd", target = "_blank") View Project] &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp; #[a(href = "/projects/github/notepadd", target = "_blank") #[i(class = "fa fa-github fa-2x")]]

      div#extraCurriculars(class = "w3-card-8 w3-light-gray")
        div(class = "w3-panel w3-teal w3-center w3-border-bottom w3-border-black")
          h2 Extra-Curricular Experience
        div(class = "w3-container")
          p
            b Extra-Curricular Experience
            br
            ul
              li Volunteer at the Carleton Science Student Success Centre (Since April 2017)
              li Achieved 3rd place in the 2017 Carleton Code Guru Competition (April 2017)
              li Attended the QHacks hackathon at Queen's University (February 2017)
              li Achieved 2nd place in the 2016 Carleton Code Guru Competition (April 2016)
              li Member of the Carleton Computer Science Society (Since September 2015)
              li Participated in the ECOO Programming Competition finals in Toronto (May 2015)

    //-spacing (due to footer being persistently on bottom)
    div(class = "w3-panel")
    div(class = "w3-panel")
    div(class = "w3-panel")
    div(class = "w3-panel")
    div(class = "w3-panel")
    div(class = "w3-panel")
    div(class = "w3-panel")
    div(class = "w3-panel")

    //-contact panel (non-persistent, only visible on small and medium screens)
    div#contact(class = "w3-hide-large w3-container w3-blue-grey")
      h3
        | Contact &nbsp
        span
          a(href = "https://ca.linkedin.com/in/averyvine", target = "_blank")
            i(class = "fa fa-linkedin-square")
        | &nbsp
        span
          a(href = "https://github.com/AveryVine", target = "_blank")
            i(class = "fa fa-github")
      p
        a(href = "mailto:averyvine@icloud.com") averyvine@icloud.com
        |  | (613) 867-2355

    //-contact panel (persistently on bottom, only visible on large screens)
    div#contact(class = "w3-bottom w3-hide-medium w3-hide-small w3-container w3-blue-grey")
      div(class = "w3-half")
        div(class = "w3-container w3-left")
        h3
          | Contact &nbsp
          span
            a(href = "https://ca.linkedin.com/in/averyvine", target = "_blank")
              i(class = "fa fa-linkedin-square")
          | &nbsp
          span
            a(href = "https://github.com/AveryVine", target = "_blank")
              i(class = "fa fa-github")
      div(class = "w3-half")
        div(class = "w3-container w3-right")
          p
            a(href = "mailto:averyvine@icloud.com") averyvine@icloud.com
            |  | (613) 867-2355
