.parallax {
  /* The image used */
  background-image: url("assets/background.jpg");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  font-family: 'Work Sans', sans-serif;
}

h3 {
  font-family: 'Work Sans', sans-serif;
}

body {
  font-family: 'Lora', sans-serif;
}

.w3-navbar {
  font-family: 'Work Sans', sans-serif;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
